<table border="1" width="100%" cellpadding="3">
	<thead>
		<tr>
			<th width="50px">#</th>
			<th>Date</th>
			<th>No. Patients</th>
			<th>No. Inv.</th>
			<th>Net Amt.</th>
			<th>Payment</th>
			<th>Cash Pending</th>
			<th>IPD_Credit_Amount</th>
			<th>Org_Credit_Amount</th>
		 </tr>
	</thead>
	<tbody>
		<tr>
							<td  width="50px">1</td>
							<td>01-10-2017</td>
							<td>38</td>
							<td>61</td>
							<td>93349.86</td>
							<td>4314.95</td>
							<td>5673.77</td>
							<td>28786.41</td>
							<td>207.70</td>
						</tr><tr>
							<td  width="50px">2</td>
							<td>02-10-2017</td>
							<td>39</td>
							<td>89</td>
							<td>199379.64</td>
							<td>33671.18</td>
							<td>41470.73</td>
							<td>41116.15</td>
							<td>1061.90</td>
						</tr><tr>
							<td  width="50px">3</td>
							<td>03-10-2017</td>
							<td>28</td>
							<td>64</td>
							<td>211654.96</td>
							<td>29988.33</td>
							<td>11862.76</td>
							<td>48344.53</td>
							<td>476.77</td>
						</tr><tr>
							<td  width="50px">4</td>
							<td>04-10-2017</td>
							<td>21</td>
							<td>44</td>
							<td>69002.45</td>
							<td>16697.83</td>
							<td>13006.64</td>
							<td>15528.50</td>
							<td>0.00</td>
						</tr><tr>
							<td  width="50px">#</th>
							<td><b>Total</b></td>
							<td>72</td>
							<td>258</td>
							<td>573386.91</td>
							<td>84672.29</td>
							<td>72013.90</td>
							<td>133775.59</td>
							<td>1746.37</td>
						</tr>
					</tbody>
				</table>